body{
    font-family: 'Inter', sans-serif;
    background-color: #141414;
    margin: 0;
    
    /*background-image: 
                radial-gradient(ellipse at 30% 20%, rgba(255, 153, 51, 0.1), transparent 70%),
                radial-gradient(ellipse at 70% 80%, rgba(19, 136, 8, 0.1), transparent 70%);
    */
    
    color: white;

}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.icon_box{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: end;



}

.how{
    position: absolute;
    color: white;
    font-size: 1.5vh;
    cursor: pointer;
    z-index: 2;
    left: 1.5vw;
    top: 1.5vw;
    height: 3vh;
    width: 3vh;
}

.pref{
    padding-top:10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-right: 8px;
    

}

.settings{
    height: 3vh;
    width: 3vh;

    border-radius: 100%;
    
    cursor: pointer;
}

.language{
    height: 3vh;
    width: 3vh;

    border-radius: 2px;
    
    cursor: pointer;
}


.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
    height: 20vh;
    width: 100vw;
    box-shadow: 0 0 2px white;
    gap: 1vh;
    margin-bottom: 6vh;
    
    
}

.title{
    display: flex;
    font-size: 300%;
    font-weight: bolder;
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: 
                radial-gradient(ellipse at 30% 20%, rgb(255, 187, 120), transparent 70%),
                radial-gradient(ellipse at 50% 40%, rgba(211, 211, 211, 0.9), transparent 70%),
                radial-gradient(ellipse at 70% 80%, rgb(141, 255, 130), transparent 70%);
    */

}

.t2{
    background: linear-gradient(90deg, #FF9933, #FFFFFF, #138808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan{
    font-weight: bold;
    
    color: rgb(210, 210, 210);
}

.mid2{
    display: flex;
    justify-content: center;
    background-color: #FF9933;
    width: 100vw;

}

.get{
    
    font-size: 4vh;
    font-weight: 800;
    
    padding: 1vh;
    color: #141414;
}

hr{
    width: 97vw;
    background-color: #FF9933;
    height: 2px;
    border: #000000 solid;
    
}


.side{
    position: fixed;
    height: 100vh;
    width: 90vw;
    background-color: rgb(16, 16, 16);
    z-index: 1;
    left: -100%;
    transition: left 0.2s ease;
    box-shadow: 0 0 0.7px white;
}

.side.active{
    left: 0;
}

