body{
    font-family: "Outfit", sans-serif;
    margin: 0;
    background-color: #000000;
    background-image: 
                radial-gradient(ellipse at 30% 20%, rgba(0, 0, 0, 0.1), transparent 70%),
                radial-gradient(ellipse at 70% 80%, rgba(255, 255, 255, 0.138), transparent 70%);
    
    
    
    color: white;

}




.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
    
}

.icon_box{
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: end;



}

.how{
    position: absolute;
    color: white;
    font-size: 1.5vh;
    cursor: pointer;
    z-index: 2;
    left: 1.5vw;
    top: 1.5vw;
    height: 3vh;
    width: 3vh;
}

.pref{
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 0.8vh;
    

}

.settings{
    height: 3vh;
    width: 3vh;

    border-radius: 100%;
    
    cursor: pointer;
}

.language{
    height: 3vh;
    width: 3vh;

    border-radius: 2px;
    
    cursor: pointer;
}


.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
    height: 20vh;
    width: 100vw;
    box-shadow: 0 0 2px white;
    gap: 1vh;
    margin-bottom: 3vh;
    
    
}

.title{
    display: flex;
    font-size: 300%;
    font-weight: bolder;
}

.t2{
    background: linear-gradient(90deg, #FF9933, #FFFFFF, #138808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan{
    font-weight: 400;
    
    color: rgb(158, 158, 158);
}

.mid2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    flex-direction: column;
    gap: 1vh;
    
    

}

.get{
    
    font-size: 4vh;
    font-weight: 600;
    
    padding: 1vh;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: #000000;
    background-image: 
                radial-gradient(ellipse at 30% 20%, rgb(255, 255, 255), transparent 70%),
                radial-gradient(ellipse at 70% 80%, rgb(131, 131, 131), transparent 70%);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 0.5vh;
    
}

.j1{
    color: #c9c9c9;
    font-weight: 300;
}

.mid3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding-top: 3vh;
    
}

.reg_box{
    height: 20vh;
    width: 43vw;
    background-color: rgba(78, 78, 78, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 1vh black;
    
    border-radius: 0.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s ease;
}

.reg_box:hover{
    box-shadow: 0 0 2px white;
}

.symb{
    cursor: pointer;
    height: 7vh;
    width: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.symb_img{
    height: 7vh;
    width: 7vh;
}


.bottom{
    display: flex;
    flex-direction: column;
   
}

.bottom_bar{
    margin-top: 20vh;
    width: 100vw;
    height: 8vh;
    background-color: #000000;
    box-shadow: 0 0 0.15vh white;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}


hr{
    width: 97vw;
    background-color: #FF9933;
    height: 2px;
    border: #000000 solid;
    
}


.side{
    position: fixed;
    height: 100vh;
    width: 90vw;
    background-color: rgba(16, 16, 16, 0.351);
    backdrop-filter: blur(12px);
    z-index: 1;
    left: -100%;
    transition: left 0.2s ease;
    box-shadow: 0 0 0.7px white;
}

.side.active{
    left: 0;
}

#background-animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;}